<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #C4C4C4!important">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
            <li>
                <a href="{{ path('consumer_dashboard') }}">
                    <img height="64px" src="{{ asset('build/images/logo_name.png') }}" alt="logo">
                </a>
            </li>
            <li class="py-2 px-2 nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle c-black" id="about_arbex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About ArBex</a>
                <div class="dropdown-menu" aria-labelledby="about_arbex">
                    <a class="dropdown-item" href="{{ path('our_history_index') }}">Our History</a>
                    <a class="dropdown-item" href="{{ path('team_member_index') }}">Our Team</a>
                    <a class="dropdown-item" href="{{ path('our_mission_index') }}">Our Mission</a>
                </div>
            </li>
            <li class="py-2 px-2 nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle c-black" id="scholar_database" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scholar Database</a>
                <div class="dropdown-menu" aria-labelledby="scholar_database">
                    <a class="dropdown-item" href="{{ path('scholar_database_search') }}">Scholar Search</a>
                    <a class="dropdown-item" href="{{ path('scholar_database_list') }}">Scholar List</a>
                </div>
            </li>
            <li class="py-2 px-2 nav-item">
                <a class="nav-link c-black" href="#">For Students</a>
            </li>
            <li class="py-2 px-2 nav-item dropdown mx-5">
                <a class="nav-link dropdown-toggle c-black" id="join_our_efforts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Join Our Efforts</a>
                <div class="dropdown-menu" aria-labelledby="join_our_efforts">
                    <a class="dropdown-item" href="#">Become a Scholar</a>
                    <a class="dropdown-item" href="#">Become an Ally</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
