{% extends 'admin/base.html.twig' %}

{% block title %}User index{% endblock %}
{% block page_title %}User{% endblock %}
{% block page_subtitle %}index{% endblock %}

{% block page_content %}
    <div class="box box-primary">
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            {{ knp_pagination_sortable(pagination, 'Email', 'user.email') }}
                            <i class="fas fa-{{ sortDirectionIcon('user.email', pagination.params) }}"></i>
                        </th>
                        <th scope="col" class="text-center">
                            {{ knp_pagination_sortable(pagination, 'Date d\'inscription', 'user.createdAt') }}
                            <i class="fas fa-{{ sortDirectionIcon('user.createdAt', pagination.params) }}"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in pagination %}
                        <tr>
                            <th scope="row">{{ user.email }}</th>
                            <td class="text-center">{{ user.createdAt | date('d-m-Y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
