{% extends 'admin/base.html.twig' %}

{% block title %}User{% endblock %}

{% block page_content %}
    <h1>User</h1>
    <div class="box box-default">
        <div class="box-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ user.identity.lastName }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ user.identity.firstName }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            <a href="{{ path('user_user_index') }}">back to list</a>

{#            <a href="{{ path('user_user_edit', {'id': user.id}) }}">edit</a>#}

            {% if app.user.id != user.id %}
                {{ include('user/user/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
{% endblock %}
