<div class="box-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">
                {{ knp_pagination_sortable(pagination, 'arbex.tag.title' | trans, 'tag.title') }}
                <i class="fas fa-{{ sortDirectionIcon('tag.title', pagination.params) }}"></i>
            </th>
            <th scope="col" class="text-center">
                {{ knp_pagination_sortable(pagination, 'arbex.tag.created_at' | trans, 'user.created_at') }}
                <i class="fas fa-{{ sortDirectionIcon('user.created_at', pagination.params) }}"></i>
            </th>
            <th scope="col" class="text-center">
                {{ knp_pagination_sortable(pagination, 'arbex.tag.updated_at' | trans, 'tag.updated_at') }}
                <i class="fas fa-{{ sortDirectionIcon('tag.updated_at', pagination.params) }}"></i>
            </th>
            <th scope="col" class="text-center">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        {% for tag in pagination %}
            <tr>
                <th scope="row">{{ tag.title }}</th>
                <td class="text-center">{{ tag.createdAt | date('d-m-Y') }}</td>
                <td class="text-center">{{ tag.updatedAt | date('d-m-Y') }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="{{ path('admin_tag_show', {id: tag.id}) }}" class="btn-sm btn-success">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="{{ path('admin_tag_edit', {id: tag.id}) }}" class="btn-sm btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        <div class="pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
