{% extends 'admin/base.html.twig' %}

{% block title %}Our History{% endblock %}

{% block page_title %}Our History{% endblock %}
{% block page_subtitle %}Show{% endblock %}

{% block page_content %}
    <div class="box box-default">
        <div class="box-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ 'arbex.history.title' | trans }}</th>
                    <td>{{ our_history.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'arbex.history.text' | trans }}</th>
                    <td>{{ our_history.text | raw }}</td>
                </tr>
                <tr>
                    <th>{{ 'arbex.publication.created_at' | trans }}</th>
                    <td>{{ our_history.createdAt | date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>{{ 'arbex.publication.updated_at' | trans }}</th>
                    <td>{{ our_history.updatedAt | date('d-m-Y') }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="box-footer">
            <div class="row">
                <div class="col-md-3">
                    <a href="{{ path('admin_our_history_index') }}" class="btn btn-default">back to list</a>
                    <a href="{{ path('admin_our_history_edit', {'id': our_history.id}) }}" class="btn btn-warning">edit</a>
                </div>

                {% if is_granted('ROLE_ADMIN_ARBEX') %}
                    <div class="col-md-2 pull-right">
                        {{ include('admin/our_history/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
