<div class="box-body">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">
                {{ knp_pagination_sortable(pagination, 'arbex.history.title' | trans, 'our_history.title') }}
                <i class="fas fa-{{ sortDirectionIcon('our_history.title', pagination.params) }}"></i>
            </th>
            <th scope="col" class="text-center">
                {{ knp_pagination_sortable(pagination, 'arbex.history.created_at' | trans, 'user.created_at') }}
                <i class="fas fa-{{ sortDirectionIcon('user.created_at', pagination.params) }}"></i>
            </th>
            <th scope="col" class="text-center">
                {{ knp_pagination_sortable(pagination, 'arbex.history.updated_at' | trans, 'our_history.updated_at') }}
                <i class="fas fa-{{ sortDirectionIcon('our_history.updated_at', pagination.params) }}"></i>
            </th>
            <th scope="col" class="text-center">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        {% for our_history in pagination %}
            <tr>
                <th scope="row">{{ our_history.title }}</th>
                <td class="text-center">{{ our_history.createdAt | date('d-m-Y') }}</td>
                <td class="text-center">{{ our_history.updatedAt | date('d-m-Y') }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="{{ path('admin_our_history_show', {id: our_history.id}) }}" class="btn-sm btn-success">
                            <i class="fas fa-eye"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="{{ path('admin_our_history_edit', {id: our_history.id}) }}" class="btn-sm btn-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_our_history_new') }}" class="btn btn-primary">New</a>

    <div class="navigation">
        <div class="pull-right">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>
